.site-header {
    background-color: #fff;
}
.sitenav-link {
    color: black;
    font-size: 13px;
    line-height: 15px; 
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
}
   
.main-link {
    font-size: 13px;
    line-height: 15px;
    background-color: #FF7500;
    color: #fff;
    text-decoration: none;
}
.hero {
    background-color: #252420;
    color: white;
}
.hero-content {
    width: 390px;

}
.orange-line {
    width: 80px;
    height: 3px;
    background-color: #FF7500;
}
.hero-heading {
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0,5px;
}
.hero-img {
    width: 510px;
    height: 510px;
}
.hero-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.5px;
}
.features-heading {
    width: 440px;
    font-size: 72px;
    line-height: 1.2;
    letter-spacing: 0.5px;
}
.feature {
    width: 340px;
}
.feature-warpp {
    width: 100px;
    height: 100px;
    background-color: rgba(255, 117, 0, 0.2);
}
.feature-heading {
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.5px;

}
.feature-info {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.5px;
}